[OAUTH_CONFIG]
OAUTH_CLIENT_ID       = 791291641765-oflhct3ocveggo4tggeu4o4gihs3njnp.apps.googleusercontent.com
OAUTH_CLIENT_SECRET   = J-B5ou6BQekNpkEh6SCWBlGR
OAUTH_CLIENT_APP_NAME = Matecat
OAUTH_BROWSER_API_KEY = #<YOUR_BROWSER_API_KEY>